.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
    //margin-top: -7% !important;
  }

@media only screen and (min-width: 260px) and (max-width: 400px) {
.display-1 {
  font-size: 3rem;
  }
}

@media only screen and (min-width: 410px) and (max-width: 830px) {
  .display-1 {
    font-size: 4rem;
    }
  }