<!--<header class="h-100" style="height: 20% !important;">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="true">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" routerLink="/"><strong>Marnarsay</strong></a>
      </mdb-navbar-brand>
      <links>
        <span class="spacer"></span>
          <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                    <a mat-button class="nav-link" routerLink="/">Hem</a>
                </li>
              <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                  <a mat-button class="nav-link" routerLink="/Nyheter">Nyheter</a>
              </li>
              <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                  <a mat-button class="nav-link">Media</a>
              </li>
              <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link" routerLink="/create">Skapa</a>
            </li>
          </ul>
      </links>
  </mdb-navbar>
</header>-->

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#"><strong>Marnarsay</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>       
                <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
            </div>
        </nav>
    
        <div class="view intro-2">
            <div class="full-bg-img">
                <div class="mask rgba-black-light flex-center">
                    <div class="container text-center white-text">
                        <div class="white-text text-center wow fadeInUp">
                            <h2>This Navbar is fixed</h2>
                            <h5>It will always stay visible on the top, even when you scroll down</h5>
                            <br>
                            <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </header>
    <!--Main Navigation-->
    
