<header >
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color scrolling-navbar intro-fixed-nav" [containerInside]="true">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" routerLink="/"><strong>Marnarsay</strong></a>
      </mdb-navbar-brand>
      <links>
        <span class="spacer"></span>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link" routerLink="/">Hem</a>
            </li>
            <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link" routerLink="/Nyheter">Nyheter</a>
            </li>
            <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link">Media</a>
            </li>
            <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link">Kateket</a>
            </li>
            <!--<li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link" routerLink="/skapa">Skapa</a>
            </li>-->
            <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link" routerLink="/kontakta-oss">Kontakta oss</a>
            </li>
            <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
                <a mat-button class="nav-link" routerLink="/om-oss">Om oss</a>
            </li>
          </ul>
      </links>
  </mdb-navbar>
</header>