.spacer {
  flex: 1 1 auto;
}

/*ul.navbar-nav.mr-auto li.nav-item.waves-light.active a.nav-link.mat-button {
  border-bottom: 3px solid #82b1ff;
  background-color: #3f51b5 !important;
}

ul.navbar-nav.mr-auto li.nav-item.waves-light a.nav-link.mat-button:hover {
  border-bottom: 3px solid #82b1ff;
}

ul.navbar-nav.mr-auto li.nav-item.waves-light a.nav-link.mat-button div.mat-button-focus-overlay {
  background-color: #3f51b5 !important;
}*/