<!-- Footer -->
<footer class="page-footer font-small unique-color">

        <!-- Footer Links -->
        <div class="container">
    
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
    
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="https://saint-adday.com/">Patriarkat</a>
              </h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="https://www.katolskakyrkan.se/">Katolska Stift</a>
              </h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="https://bilda.nu/">Bilda</a>
              </h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="http://kpn.se/">KPN</a>
              </h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="http://www.suk.se/">SUK</a>
              </h6>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
          <hr class="rgba-white-light" style="margin: 0 15%;">
    
          <!-- Grid row-->
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
    
            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-5">
              <p style="line-height: 1.7rem">Här ska människor bli förvandlade av mötet med Jesus Kristus, leva av hans kärlek och förmedla den till alla omkring sig.
                    församlingen är en plats för möten – med Gud, med andra människor och med dig själv.
              </p>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    
          <!-- Grid row-->
          <div class="row pb-3">
    
            <!-- Grid column -->
            <div class="col-md-12">
    
              <div class="mb-5 flex-center">
    
                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fa fa-facebook fa-lg white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fa fa-google-plus fa-lg white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i ng-href="" class="fa fa-instagram fa-lg white-text mr-4"> </i>
                </a>  
                <!--Youtybe--> 
                <a class="yt-ic">
                  <i class="fa fa-youtube-play fa-lg white-text mr-4"></i>
                </a>
              </div>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Alla rättigheter reserverade:
          <a href="https://marnarsay.com">Marnarsay</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->