mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"]{
  visibility: hidden;
}

input.counter-danger ~ span.text-danger, input.counter-success ~ span.text-success {
  visibility:  hidden !important;
}

.inputVal {
  visibility: hidden !important;
}

.card {
  width: 80%;
  margin: 2% auto;
  font-weight: 300;
  box-shadow: 0 0px 0px 0;
  height: 100%;
  margin-top: 15%;
}

.img-preview {
  height: 10rem;
  margin: 1rem 0;
}

.img-preview img {
  height: 100%;
}

@media only screen and (min-width: 260px) and (max-width: 824px) {
  .card {
    margin-top: 30%;
  }
}

.sidenav {
  height: 100%;
  width: 250px;
  position: initial;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #404f9f !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 140px;
  background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav1.jpg);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: block;
  transition: 0.3s;
  margin-left: 40px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.col-2 {
  margin-left: 0px;
  margin-right: 0px;
}