<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input placeholder="Titel" matInput type="text" name="title" ngModel required #title="ngModel">
      <mat-error *ngIf="title.invalid">mata in titeln!</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea placeholder="Innehåll" matInput rows="6" ngModel name="innehall" required #innehall="ngModel"></textarea>
        <mat-error *ngIf="innehall.invalid">mata in Innehållet!</mat-error><br>
    </mat-form-field><br /><br />
      <button color="accent" mat-raised-button type="submit">Save</button>
  </form>
</mat-card>
