<div class="row" style="height: 1200px; margin-right: 0px;">
    <div class="col-2"><div id="mySidenav" class="sidenav">
            <h3 style="margin-left: 60px; color: white; padding-top: 20px;">Nyheter</h3>
            <hr style="border-top: 1px solid white">
            <a>Skapa</a>
            <a>Redigera</a>
            <h3 style="margin-left: 60px; color: white; padding-top: 30px;">Event</h3>
            <hr style="border-top: 1px solid white">
            <a>Skapa</a>
            <a>Redigera</a>
      </div></div>
    <div class="col-7" style="margin-top: 12%;">

    </div>
    <div class="col-3" style="margin-top:12%; float: left;">
        <div class="card">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
            <h1>Admin</h1>
            <p class="title">Teknik Guy</p>
            <p>Hello World!</p>
        </div>
    </div>  
</div>