<div class="row" style="height: 1200px; margin-right: 0px;">
    <div class="col-2"><div id="mySidenav" class="sidenav">
        <h3 style="margin-left: 60px; color: white; padding-top: 20px;">Nyheter</h3>
        <hr style="border-top: 1px solid white">
        <a routerLink="/admin/nyheter/skapa">Skapa</a>
        <a routerLink="/admin/nyheter/redigera">Redigera</a>
        <h3 style="margin-left: 60px; color: white; padding-top: 30px;">Event</h3>
        <hr style="border-top: 1px solid white">
        <a>Skapa</a>
        <a>Redigera</a>
        <h3 style="margin-left: 60px; color: white; padding-top: 30px;">Media</h3>
        <hr style="border-top: 1px solid white">
        <a>Skapa</a>
        <a>Redigera</a>
      </div></div>
    <div class="col-7" style="margin-top: 12%;">
        
    </div>
    <div class="col-3" style="margin-top:12%; float: left;">
        <!--Card-->
        <div class="card profile-card wow rotateInUpRight">
            <!--Avatar-->
            <div class="avatar z-depth-1-half mb-4">
                <img src="https://www.ssbwiki.com/images/7/7b/SonicTheHedgehogAltTrophy3DS.png" class="rounded-circle" alt="First sample avatar image">
            </div>
            <div class="card-body pt-0 mt-0">
                <!--Name-->
                <h4 class="mb-3 font-weight-bold"><strong>Anna Deynah</strong></h4>
                <h6 class="font-weight-bold cyan-text mb-4">Web Designer</h6>
            </div>
        </div>
        <!--Card-->
    </div>  
</div>