<div class="spinner" *ngIf="isLoading"></div>
<div class="py-5">
  <div class="container" *ngIf="posts.length > 0 && !isLoading">
    <div class="row hidden-md-up">
      <div class="col-md-4" *ngFor="let post of posts | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="card">
          <div class="card-block">
              <div class="view overlay">
                  <img class="card-img-top" [src]="post.imagePath" [alt]="post.rubrik">
                  <a [routerLink]="['/Nyhet', post.id]">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
            <h4 class="card-title" style="padding: 2%;">{{ post.rubrik }}</h4>
            <h6 class="card-subtitle text-muted" style="padding: 2%;">{{ post.ingress }}</h6>
            <button type="button" [routerLink]="['/Nyhet', post.id]" class="btn btn-md" style="margin: 2%; float: right; background-color: #3f729b;">Läs mer</button>
            <h6 style="color:#6c757d !important; padding: 2%; margin: 2.5%;">{{ post.Datum }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="Paging">
    <pagination-controls class="pagination" (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Föregående" nextLabel="Nästa"></pagination-controls>
  </div>
<p class="mat-body-1" *ngIf="posts.length <= 0 && !isLoading">Inga Nyheter för tillfället!</p>