<!--<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel style="margin-bottom: 20px; width: 80%; margin: 15px auto;" *ngFor="let post of posts">
    <mat-expansion-panel-header style="font-size: larger; font-weight: 500;">
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.innehall }}</p>
    <mat-action-row>
        <a mat-button color="primary"><i class="material-icons" [routerLink]="['/edit', post.id]">edit</i></a>
        <a mat-button color="warn"(click)="onDelete(post.id)"><i class="material-icons">delete_forever</i></a>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" *ngIf="posts.length <= 0 && !isLoading">Inga Nyheter för tillfället!</p>-->

<div class="preloader-wrapper big active" *ngIf="isLoading"> 
     <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
</div>

<!-- Card deck -->
<div style="width: 80%; margin: 15px auto;" class="card-deck" *ngIf="posts.length > 0 && !isLoading">

    <!-- Card -->
    <div class="card mb-4" *ngFor="let post of posts"> 
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">{{ post.title }}</h4>
        <!--Text-->
        <p class="card-text">{{ post.innehall }}</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" [routerLink]="['/Nyhet', post.id]" class="btn btn-light-blue btn-md">Läs mer</button>
  
      </div>
  
    </div>
    <!-- Card -->
  </div>
  <!-- Card deck -->